<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet"  href="{{ url_for('static', filename='main.css')}}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script src="Chart.js"></script>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Global Layoffs Dashboard</h1>
      </div>
    </header>

    <div class="container">
      <div class="side-wrapper">
        <div class="sidebar">
          <h2>Dashboard</h2>
          <div class="filters">
            <h4>Industry</h4>
            <select class="dd-country" id="selDataset" onchange="optionChangedi(this.value)">
              <option selected>All</option>
            </select>
            <h4>Country</h4>
            <select class="dd-country" id="selDataset1" onchange="optionChangedc(this.value)">
              <option selected>All</option>
            </select>
            <h3>Date</h3>
	          <h4>From</h4>
            <select class="dd-country" id="selDataset2" onchange="optionChangedf(this.value)">
              <option>From</option>
            </select> 
            <h4>To</h4>
	          <select class="dd-country" id="selDataset3" onchange="optionChangedt(this.value)">
              <option>To</option>
            </select>
          </div>
        </div>
          <div class="sidebar">
            <div class="summary">
              <h2>Summary</h2>
              <h4>Total number of Layoffs</h4>
              <p>10,863</p>
              <h4>Average Monthly Layoffs</h4>
              <p>342</p>
              <h4>Worst Month</h4>
              <p>Feb 2022 3,894 people</p>
            </div>
          </div>
        </div>
        <main>
          <div class="chart-box">
            <canvas id="myChart" style="width: 100%; height: 100px"></canvas>
          </div>
          <div class="map-bar-box">
            <div class="map-box">
              <div id="map" style="width: 100%; height: 300px"></div>
            </div>
            <div class="bar-box">
              <canvas id="canvas"style="width: 100%; height: 300px"></canvas>
            </div>
          </div>
        </main>
    </div>
    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="jq.js"></script>
    <script src="main.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>

      var selector = d3.select("#selDataset");
      //creating a dropdown list
       d3.json('/industries').then((data) => {
          data.forEach((sample) => {
              selector
               .append("option")
                .text(sample)
               .property("value", sample);
          });
        });

      var selector1 = d3.select("#selDataset1");
      //creating a dropdown list
      d3.json('/countries').then((data) => {
          data.forEach((sample) => {
              selector1
                .append("option")
                .text(sample)
                .property("value", sample);
          });                                                 
      });

      var selector2 = d3.select("#selDataset2");
      //creating a dropdown list
      d3.json('/dates').then((data) => {
          data.forEach((sample) => {
              selector2
                .append("option")
                .text(sample)
                .property("value", sample);
          });                                                 
      });

      var selector3 = d3.select("#selDataset3");
      //creating a dropdown list
      d3.json('/dates').then((data) => {
          data.forEach((sample) => {
              selector3
                .append("option")
                .text(sample)
                .property("value", sample);
          });                                                 
      });

      function buildMetadata(sample) {
        let filteredData = []
          d3.json('/dataset').then((data) => {
            if (sample !== "All") {
              filteredData = data.filter(function (item) {
                return item.Industry == sample
              })
            } else {
              filteredData = data
              }
          }); 
        let geoFiltered = []
          d3.json('/layoff/geoJSON').then((data) => {
            let geoData = data.features
            if (sample !== "All") {
              geoFiltered = geoData.filter(function (item) {
                return item.properties.Industry == sample
              })
            } else {
              geoFiltered = geoData
              }
            createMap(geoFiltered);
          });
      };
        
      function optionChangedi(newOption) {
        buildMetadata(newOption);
      };

      function buildMetadatac(sample) {
        let filteredData = []
          d3.json('/dataset').then((data) => {
            if (sample !== "All") {
              filteredData = data.filter(function (item) {
                return item.Country == sample
              })
            } else {
              filteredData = data
              }
          });
        
        let geoFiltered = []
          d3.json('/layoff/geoJSON').then((data) => {
            let geoData = data.features
            if (sample !== "All") {
              geoFiltered = geoData.filter(function (item) {
                return item.properties.Country == sample
              })
            } else {
              geoFiltered = geoData
              }
            createMap(geoFiltered);
          });
      };
        
      function optionChangedc(newOption) {
        buildMetadatac(newOption);  
      };


      var defaultMap = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 19,
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
      });
      
      let basemaps = {
          'Default': defaultMap
      };

      var myMap = L.map("map",{
        center: [40.41921, 3.69252],
        zoom: 1.1,
        layers: [defaultMap]
      });
      defaultMap.addTo(myMap);
      let layoffs = new L.LayerGroup();

      function createMap(filteredGeo){
        layoffs.clearLayers();
          function dataColor(Laid_Off_Count){
                if (Laid_Off_Count > 800)
                    return "red";
                else if(Laid_Off_Count > 300)
                    return "#fc4903";
                else if(Laid_Off_Count > 150)
                    return "#fc8403";
                else if(Laid_Off_Count > 80)
                    return "#fcad03";
                else if(Laid_Off_Count > 30)
                    return "#cafc03";
                else
                    return "green";
          }
            function dataStyle(features) {
                return {
                    opacity: 0.5,
                    fillOpacity: 0.5,
                    fillColor: dataColor(features.properties.Laid_Off_Count), // use index 2 for the depth
                    color: "000000", // black outline
                    radius: 10, // grabs the magnitude
                    weight: 0.5,
                    stroke: true
                }
            }

            L.geoJson(filteredGeo, {
              pointToLayer: function(features, latLng) {
                return L.circleMarker(latLng);
              },
              style: dataStyle,
                onEachFeature: function(features, layer){
                  layer.bindPopup(`Company: <b>${features.properties.Company}</b><br>
                                  City: <b>${features.properties.City}</b><br>
                                  Laid off Count: <b>${features.properties.Laid_Off_Count}</b>`); 
                }
            }).addTo(layoffs);
            layoffs.addTo(myMap);
      };

      d3.json('/dataset/linechart').then((data) => {
        var labeldata = [];
        var chrtdata = [];
        for(var i =0; i < data.length; i++) {
          labeldata.push(data[i].Date);
          chrtdata.push(data[i].Count)
        }
        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labeldata,
                  datasets: [{
                    label: 'Layoffs',
                    data: chrtdata,
                    backgroundColor: "rgba(170,211,223,0.6)",
                    borderColor: "rgba(170,211,223,0.7)",
                    pointBorderColor: "rgba(170,211,223)",
                    pointBackgroundColor: "rgba(170,211,223)",
                    fillColor:"rgba(170,211,223,0.6)",
                    fill: true,
                    
                  }]
          }
        });
      });




      d3.json('/dataset/barchart').then((data) => {
        var barlabeldata = [];
        var bardata = [];
        for(var i =0; i < data.length; i++) {
          barlabeldata.push(data[i].Industry);
          bardata.push(data[i].Count)
        }
      
        var chr = document.getElementById("canvas").getContext("2d");
        
        var barchart = new Chart(chr, {
          type: 'bar',
          data: {
          labels: barlabeldata,
          datasets: [
              {
                  label: 'Layoffs by Industry',
                  fillColor: "rgba(170,211,223,0.7)",
                  strokeColor: "rgba(170,211,223)",
                  backgroundColor: "rgba(170,211,223,0.6)",
                  data: bardata,
              }
            ]
        }
      });
      });

      d3.json('/dataset/barchart').then((data) => {
      var canvas = document.getElementById("chart");
      var ctx = canvas.getContext("2d");
      var myPieChart = new Chart(ctx).Pie(data);

      canvas.onclick = function (evt) {
        var activeSector = myPieChart.getSegmentsAtEvent(evt);
    
        barchart.datasets[0].bars.forEach(function (bar, i) {
            var pointTotal = 0;
            data.forEach(function (point, j) {
                if (activeSector.length === 0 || point.label === activeSector[0].label)
                    pointTotal += data[j].subData[i]
            })
    
            bar.value = pointTotal;
        });
    
        barchart.update();
    };



  });
    </script>  
  </body>
</html>
